@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 6% 13%;
    --foreground: 260 100% 99%;

    --muted: 225 7% 24%;
    --muted-foreground: 210 7% 67%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 225 6% 13%;
    --card-foreground: 260 100% 99%;

    --border: 231 6% 22%;
    --input: 214.3 31.8% 91.4%;

    --primary: 235 86% 65%;
    --primary-foreground: 210 40% 98%;

    --secondary: 225 7% 24%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 225 7% 24%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
